<h3><span id="greeting"></span>{firstname}!</h3>
<script>
let alternates = ['😎 Servus ', '😃 Schön dich zu sehen, ', '👋 Hallo ', '👍 Willkommen zurück,   ', '🧡 Toll, dass du hier bist, ', '🤩 Entdecke die Möglichkeiten, ', '💪 Legen wir los, '];
let rand = Math.random()*alternates.length | 0;
var rValue = alternates[rand];
document.getElementById("greeting").innerHTML = rValue;
</script>
